*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Zilla Slab', serif;
	background: #577386;
	overflow: hidden;
}
p {
	margin: 0 0 3px;
	line-height: 1;
	letter-spacing: 1px;
	pointer-events: none;
}
.calendar {
	position: relative;
	width: 152px;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.calendar::before,
.calendar::after {
	content: '';
	position: absolute;
	top: -28px;
	left: 40px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #ddd;
	z-index: 3;
}
.calendar::after {
	left: initial;
	right: 40px;
}
.pages {
	position: relative;
	text-align: center;
	background: #eee;
	box-shadow: 0 10px 0 0px #a5a4a4;
}
.pages::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 45px;
	background: indianred;
	bottom: 100%;
	left: 0;
	z-index: 2;
}
.page {
	position: relative;
	padding: 20px 30px 15px;
	background: #eee;
}
.page::before {
	content: '';
	position: absolute;
	bottom: 99%;
	left: 0;
	display: block;
	background: linear-gradient(-45deg, #eee 10px, #eee 10px, #eee 10px, transparent 0), linear-gradient(45deg, #eee 10px, transparent 0);
	background-position: left top;
	background-repeat: repeat-x;
	background-size: 10px 18px;
	height: 10px;
	width: 100%;
}
.month,
.day-name {
	text-transform: uppercase;
	font-weight: 600;
}
.day {
	font-size: 60px;
	font-weight: 700;
	margin: 0 0 15px;
}
.year {
	font-size: 12px;
}
.tear {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transform-origin: top left;
	transform-origin: top left;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
	pointer-events: none;

	animation: tear-animation 0.8s linear forwards;
}
@-webkit-keyframes tear-animation {
	0% {
		transform: rotate(0deg);
		top: 0;
		opacity: 1;
	}
	20% {
		transform: rotate(9deg);
		top: 0;
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		top: 200px;
		opacity: 0;
	}
}
@keyframes tear-animation {
	0% {
		transform: rotate(0deg);
		top: 0;
		opacity: 1;
	}
	20% {
		transform: rotate(9deg);
		top: 0;
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		top: 200px;
		opacity: 0;
	}
}

.loader-wrapper{
	width: 100vw;
	height: 100vh;
	background-color: #577386;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
}

.loader {
	color: #ffffff;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}
@keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}
@-webkit-keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}